*{
    margin: 0;
    padding: 0;
    font-family: inter;
}
h1{
    margin-left: 13px;
    line-height: 3.5rem;
}
main h1{
  line-height: 2.5rem;
  margin-left: 15px;
  padding:10px;
}
#longitude{
    margin-left:50%;
}
.part{
    margin-left: 15px;
    padding-left: 13px;
    border: 1px solid black;
    line-height: 2.5rem;
    margin-top: 10px;
    font-size: large;
    font-weight: 400;
    margin-bottom: 2rem;
}
.part2{
    display: flex;
    /* justify-content: space-between; */
    margin: right 10px; 
}
.display{
    background-color: black;
    color:white;
    display: flex;
    padding:1rem;
    column-gap: 2rem;
    flex-direction: column;
    padding-bottom: 2rem;
    height:50vh;
}
.display h1{
    color:white;
}
.display input{
    margin-bottom: 2rem;
    padding:0.50rem;
}
button{
    width:20vw;
    height:5vh;
    font-weight: 400;
}